
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom right, #c7d2fe, #fbcfe8, #fef3c7);
    color: #333;
  
    font-size: 18px;
  }
  
  
  header {
    background-color: #4f46e5;
    color: white;
    text-align: center;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    margin: 0;
    font-size: 3em;
  }
  
  nav {
    margin-top: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s;
  }
  
  nav a:hover {
    color: #fde68a;
    transform: scale(1.1);
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  
  section {
    margin-bottom: 80px;
    
  }
  
  h2, h3 {
    color: #050505;
    text-align: center;
    font-size: 2.5em;
  }
  
  
  
  .main-img {
    width: 60%;
    text-align: center;
    padding: 10px;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 30px;
  }
  .text{
   border-radius: 20px;
    padding: 20px;
    margin: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .hrt{
    border-radius: 20px;
    background-color:azure;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  th {
    background-color: #4f46e5;
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 1.5em;
  }
  
  td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
  }
  
  tr:hover {
    background-color: #eef2ff;
  }
  
  
  
  .contact p {
    font-size: 1.4em;
    text-align: center;
    margin: 8px 0;
  }
  
  .main-img {
      display: block;     
      width: 60%;
      margin: 20px auto;  
      padding: 10px;
      border-radius: 30px;
  }
    
  
  footer {
    background-color: #3730a3;
    color: white;
    text-align: center;
    padding: 25px 0;
    font-size: 1.1em;
  }
  
  
  
  
